/* Language Menu */
#header_menu footer a {
  color: white;
  text-decoration: none;
}

#header_menu footer a:hover {
  text-decoration: none;
}

#changeLang {
  position: fixed;
  float: right;
  right: 0px;
  z-index: 99;
  width: 200px;
  height: 40px;
}

.language_margin {
  position: absolute;
  right: 20px;
  top: 20px;
}

#language {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 40px;
  cursor: pointer;
}
.langIMG{
    margin-top: 5px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}


/*************************/


#start_button {
  z-index: 100;
  cursor: pointer;
}

#header_menu {
  z-index: 10;
}

#owner {
  padding-top: 20px;
}

#module {
  color: #fff;
  padding-top: 10px;
}

#title {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.table {
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}

#content {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;

}





#section_tableJson {
  margin-bottom: 150px;
}
