#owner {
  padding-top: 20px;
}
#module {
  color: #fff;
  padding-top: 10px;
}

.carousel {
  padding-bottom: 100px
}

.card_first {
  margin-right: 100px;
}

.deck_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
/*justify-content: space-around;*/
  margin-top: 180px;
  margin-bottom: 180px;
}

.card {
  width: 300px;
  /*border: solid black 2px;*/
  box-shadow: rgb(0, 0, 0) 0px 1px 4px 0px;
  order: 0;
  margin-bottom: 0;
}

.card_body {
  padding: 10px 10px 10px 10px;
}
